---
import MainLayout from "../layouts/MainLayout.astro";
const pageTitle = "Who Am I ?"
---
<MainLayout title="Who Am I ?">
  <p>My name is Fred Brossard and i build my first asto project usig <a href="https://ceos3c.com">ceos3c.com</a> ! </p>
</MainLayout>
