<body>
    <a href="/">Home</a>
	<a href="/about">About</a>
	<a href="/hobbies">My Hobbies</a>
    <h1>Who Am I ?</h1>
    <p>My name is Fred Brossard and i build my first asto project usig <a href="https://ceos3c.com">ceos3c.com</a> </p>
</body>