<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/hobbies">My Hobbies</a>
  <h1>My Hobbies</h1>
  <ul>
    <li>Gaming</li>
    <li>Beaching</li>
    <li>Sailing</li>
    <li>Baigning</li>
    <li>Coding</li>
    <li>Reading</li>
    <li>Listening music</li>
  </ul>
</body>
